/*============================================
        common css part start here
==============================================*/
* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

.clr {
  clear: both;
}

.container {
  max-width: 1220px;
}

/*============================================
        common css part ends here
==============================================*/
/*============================================
        all typography css part start here
==============================================*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

/*============================================
        all typography css part ends here
==============================================*/
/*============================================
        navber css part start here
==============================================*/
#navbar_part {
  width: 100%;
  padding-top: 20px;
}
#navbar_part .nav_body .navbar .collapse ul li a {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 0 15px;
}
#navbar_part .nav_body .navbar .collapse ul li a i {
  padding-left: 5px;
}
#navbar_part .nav_body .navbar .collapse ul li a:hover {
  color: #000;
}
#navbar_part .nav_body .navbar .collapse .nav_btn a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 15px 20px;
  background-color: #B68C5A;
  border-radius: 5px;
  border: 1px solid #B68C5A;
}
#navbar_part .nav_body .navbar .collapse .nav_btn a:hover {
  color: #B68C5A;
  border-color: #B68C5A;
  background: #fff;
}

/*============================================
        navber css part ends here
==============================================*/
/*============================================
        banner css part start here
==============================================*/
#banner_part {
  width: 100%;
  margin: 30px 0;
}
#banner_part .banner_body .banner_main {
  height: 550px;
}
#banner_part .banner_body .banner_main .banner_bg {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}
#banner_part .banner_body .banner_main .banner_bg .banner_overlay {
  position: absolute;
  background-image: url(../images/Rectangle-5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
#banner_part .banner_body .banner_main .banner_bg .banner_overlay .banner_text {
  margin-top: 100px;
  text-align: center;
}
#banner_part .banner_body .banner_main .banner_bg .banner_overlay .banner_text h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 800;
  font-family: "EB Garamond", serif;
  text-transform: capitalize;
}
#banner_part .banner_body .banner_main .banner_bg .banner_overlay .banner_text p {
  color: #E7E7E7;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  padding: 30px;
}
#banner_part .banner_body .banner_main .banner_bg .banner_overlay .banner_text .ban_btn {
  display: flex;
  justify-content: center;
}
#banner_part .banner_body .banner_main .banner_bg .banner_overlay .banner_text .ban_btn form input {
  height: 50px;
  width: 500px;
  padding-left: 15px;
  border-radius: 8px;
  border: none;
}
#banner_part .banner_body .banner_main .banner_bg .banner_overlay .banner_text .ban_btn a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 10px 20px;
  margin-left: 15px;
  background-color: #B68C5A;
  border-radius: 5px;
  border: 1px solid #B68C5A;
}
#banner_part .banner_body .banner_main .banner_bg .banner_overlay .banner_text .ban_btn a:hover {
  color: #B68C5A;
  border-color: #B68C5A;
  background: #fff;
}

/*============================================
        banner css part ends here
==============================================*/
/*============================================
        legal css part start here
==============================================*/
#legal_part {
  width: 100%;
  margin: 100px 0;
}
#legal_part .legal_body .common_head {
  text-align: center;
}
#legal_part .legal_body .common_head h2 {
  color: #414040;
  font-size: 40PX;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  text-transform: capitalize;
}
#legal_part .legal_body .common_head p {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}
#legal_part .legal_body .legal_main {
  margin-top: 100px;
}
#legal_part .legal_body .legal_main .legal_card .card_body .row .col-lg-4 {
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
#legal_part .legal_body .legal_main .legal_card .card_body .row .col-lg-4 .card_item {
  text-align: center;
  padding: 50px;
}
#legal_part .legal_body .legal_main .legal_card .card_body .row .col-lg-4 .card_item h3 {
  color: #414040;
  font-size: 32px;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  text-transform: capitalize;
  padding-top: 20px;
}
#legal_part .legal_body .legal_main .legal_card .card_body .row .col-lg-4 .card_item p {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}
#legal_part .legal_body .legal_main .legal_card .card_body .row .col-lg-4 .card_item i {
  padding-top: 30px;
  font-size: 30px;
  color: #B68C5A;
}
#legal_part .legal_body .legal_main .legal_card .card_body .row .col-lg-4:hover {
  background: rgb(243, 243, 243);
  background: linear-gradient(180deg, rgb(243, 243, 243) 0%, rgba(243, 241, 247, 0) 100%);
}
#legal_part .legal_body .legal_main .legal_card .card_body .row .last_card {
  border-right: none;
}
#legal_part .legal_body .legal_main .legal_card .card_body .second_row .col-lg-4 {
  border-bottom: none;
}
#legal_part .legal_body .legal_main .legal_card .card_body .second_row .last_card {
  border-right: none;
}

/*============================================
        legal css part ends here
==============================================*/
/*============================================
        client css part start here
==============================================*/
#client_part .client_body .common_head {
  text-align: center;
}
#client_part .client_body .common_head h2 {
  color: #414040;
  font-size: 40PX;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  text-transform: capitalize;
}
#client_part .client_body .common_head p {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}
#client_part .client_body .client_main {
  margin-top: 50px;
  height: 550px;
}
#client_part .client_body .client_main .client_bg {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}
#client_part .client_body .client_main .client_bg .client_overlay {
  position: absolute;
  background-image: url(../images/Rectangle-5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
#client_part .client_body .client_main .client_bg .client_overlay .client_body .client_item {
  margin: 120px 0;
  text-align: center;
}
#client_part .client_body .client_main .client_bg .client_overlay .client_body .client_item .client_text {
  padding-top: 20px;
  text-align: center;
}
#client_part .client_body .client_main .client_bg .client_overlay .client_body .client_item .client_text h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  font-family: "EB Garamond", serif;
  text-transform: capitalize;
}
#client_part .client_body .client_main .client_bg .client_overlay .client_body .client_item .client_text span {
  color: #E7E7E7;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
#client_part .client_body .client_main .client_bg .client_overlay .client_body .client_item .client_text p {
  color: #E7E7E7;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  padding: 30px;
}
#client_part .client_body .client_main .client_bg .client_overlay .client_body .client_item .client_text .client_btn {
  display: flex;
  justify-content: center;
}
#client_part .client_body .client_main .client_bg .client_overlay .client_body .client_item .client_text .client_btn form input {
  height: 50px;
  width: 500px;
  padding-left: 15px;
  border-radius: 8px;
  border: none;
}
#client_part .client_body .client_main .client_bg .client_overlay .client_body .client_item .client_text .client_btn a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 10px 20px;
  margin-left: 15px;
  background-color: #B68C5A;
  border-radius: 5px;
  border: 1px solid #B68C5A;
}
#client_part .client_body .client_main .client_bg .client_overlay .client_body .client_item .client_text .client_btn a:hover {
  color: #B68C5A;
  border-color: #B68C5A;
  background: #fff;
}

/*============================================
        client css part ends here
==============================================*/
/*============================================
        FAQ css part start here
==============================================*/
#faq_part {
  width: 100%;
  margin: 120px 0;
}
#faq_part .faq_body .common_head {
  text-align: center;
}
#faq_part .faq_body .common_head h2 {
  color: #414040;
  font-size: 40PX;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  text-transform: capitalize;
}
#faq_part .faq_body .common_head p {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}
#faq_part .faq_body .faq_main {
  margin-top: 50px;
}
#faq_part .faq_body .faq_main .row .col-lg-6 .accordion .accordion-item {
  margin-top: 50px;
  padding: 20px 0;
  border: 1px solid #707070;
  border-radius: 5px;
  background: #F3F3F3;
}
#faq_part .faq_body .faq_main .row .col-lg-6 .accordion .accordion-item .accordion-button {
  background: #F3F3F3;
}
#faq_part .faq_body .faq_main .row .col-lg-6 .faq_image {
  width: 100%;
  text-align: right;
}
#faq_part .faq_body .faq_main .row .col-lg-6 .faq_image img {
  width: 80%;
}

/*============================================
        FAQ css part ends here
==============================================*/
/*============================================
        contact css part start here
==============================================*/
#contact_part {
  width: 100%;
  margin: 120px 0;
}
#contact_part .contact_body .common_head {
  text-align: center;
}
#contact_part .contact_body .common_head h2 {
  color: #414040;
  font-size: 40PX;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  text-transform: capitalize;
}
#contact_part .contact_body .common_head p {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}
#contact_part .contact_body .contact_main {
  margin-top: 100px;
}
#contact_part .contact_body .contact_main .contact_card .card_body .row .col-lg-6 .address_card .row .col-lg-6 {
  background: #F3F3F3;
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
#contact_part .contact_body .contact_main .contact_card .card_body .row .col-lg-6 .address_card .row .col-lg-6 .card_item {
  text-align: center;
  padding: 50px;
}
#contact_part .contact_body .contact_main .contact_card .card_body .row .col-lg-6 .address_card .row .col-lg-6 .card_item h3 {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 600;
  font-family: "EB Garamond", serif;
  text-transform: capitalize;
  color: #414040;
}
#contact_part .contact_body .contact_main .contact_card .card_body .row .col-lg-6 .address_card .row .col-lg-6 .card_item p {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #707070;
}
#contact_part .contact_body .contact_main .contact_card .card_body .row .col-lg-6 .address_card .row .col-lg-6:hover {
  background: rgb(243, 243, 243);
  background: linear-gradient(180deg, rgb(243, 243, 243) 0%, rgba(243, 241, 247, 0) 100%);
}
#contact_part .contact_body .contact_main .contact_card .card_body .row .col-lg-6 .address_card .row .last_child {
  border-right: none;
}
#contact_part .contact_body .contact_main .contact_card .card_body .row .col-lg-6 .address_card .second_row .col-lg-6 {
  border-bottom: none;
}
#contact_part .contact_body .contact_main .contact_card .card_body .row .col-lg-6 .contact_form {
  margin-left: 20px;
}
#contact_part .contact_body .contact_main .contact_card .card_body .row .col-lg-6 .contact_form .form_body input {
  display: block;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  margin-bottom: 30px;
  color: #707070;
  background: #F3F3F3;
  border: none;
  border-radius: 8px;
}
#contact_part .contact_body .contact_main .contact_card .card_body .row .col-lg-6 .contact_form .form_body textarea {
  padding-left: 20px;
  margin-bottom: 30px;
  color: #707070;
  background: #F3F3F3;
  border: none;
  border-radius: 8px;
}
#contact_part .contact_body .contact_main .contact_card .card_body .row .col-lg-6 .contact_form .form_body .contact_btn {
  text-align: center;
}
#contact_part .contact_body .contact_main .contact_card .card_body .row .col-lg-6 .contact_form .form_body .contact_btn a {
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 10px 20px;
  background-color: #B68C5A;
  border-radius: 5px;
  border: 1px solid #B68C5A;
}
#contact_part .contact_body .contact_main .contact_card .card_body .row .col-lg-6 .contact_form .form_body .contact_btn a:hover {
  color: #B68C5A;
  border-color: #B68C5A;
  background: #fff;
}

/*============================================
        contact css part ends here
==============================================*//*# sourceMappingURL=style.css.map */